$colors: (
	'greyOne': #d1d3d4,
	'grayTwo': #f1f2f2,
	'grayThree': #e6e7e8,
);

@each $name, $color in $colors {
	@each $subName, $subColor in $colors {
		@if not($name == $subName) {
			@keyframes triangle-#{$name}-#{$subName} {
				0% {
					fill: $color;
				}
				50% {
					fill: $subColor;
				}
				100% {
					fill: $color;
				}
			}

			.triangle-#{$name}-#{$subName} {
				fill: $color;
				animation: triangle-#{$name}-#{$subName}
					6s
					ease-in-out
					0s
					infinite;
			}
			.triangle-#{$name}-#{$subName}-delay-one {
				fill: $color;
				animation: triangle-#{$name}-#{$subName}
					6s
					ease-in-out
					1s
					infinite;
			}
			.triangle-#{$name}-#{$subName}-delay-two {
				fill: $color;
				animation: triangle-#{$name}-#{$subName}
					6s
					ease-in-out
					2s
					infinite;
			}
			.triangle-#{$name}-#{$subName}-delay-three {
				fill: $color;
				animation: triangle-#{$name}-#{$subName}
					6s
					ease-in-out
					3s
					infinite;
			}
		}
	}
}
