@use 'normalize.scss';
@use 'variables';

@import url('https://use.typekit.net/jzz1wbo.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	--color-primary: hsl(220, 90%, 56%);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.125rem;
}

.MuiMobileStepper-root {
	background-color: transparent;
}
.MuiMobileStepper-progress {
	background-color: rgba(255, 255, 255, 0.5);
}
.MuiLinearProgress-bar {
	background-color: #fff;
}
